body {
    background-color: Azure;
    width: 400px;
    font-family: monospace;
    color: DarkBlue;
    overflow: auto;
    /* add cursor style - cursor:cell; */
}

.resDiv {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid DarkBlue;
    margin: 5px;
}

.titleDiv {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    cursor:pointer;
}

.summaryDiv {
    display: flex;
    padding: 5px;
}

.title {
    font-size: 6vw;
    word-break: break-all;
    margin: 0px;
}

a.btn, a.btn:link, a.btn:visited {
    border: 1px solid DarkBlue;
    border-radius: 5px;
    font-size: 5vw;
    margin: 0px;
    padding: 5px 10px;
    color: DarkBlue;
    text-decoration: none;
    background-color: LightYellow ;
}

a.btn:hover {
    background-color: LavenderBlush;
}

.summary {
    font-size: 4vw;
}

#moreButtonDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
    padding: 5px 0px;
    font-size: 6vw;
    border: 1px solid DarkBlue;
    border-radius: 5px;
    background-color: LightPink;
    cursor:pointer;
}

#moreButtonDiv:hover {
    background-color: #f7c0f7;
}

#searchBarDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
    padding: 5px 0px;
}

#searchBar {
    width: 100%;
    text-align: center;
    font-family: monospace;
    text-transform: uppercase;
    font-size: 6vw;
    color: DarkBlue;
    background-color: LightYellow;
    border: 1px solid DarkBlue;
    border-radius: 5px;
    cursor:help;
}

#searchBar::placeholder {
    color: DarkBlue;
}

#searchBar:focus {
    outline: none;
    background-color: LavenderBlush;
    caret-color: transparent;
    font-weight: bold;
}